/Ana.class
/Appl.class
/ArgM.class
/BoolBoolOps.class
/Const.class
/Count.class
/Equals.class
/Exp.class
/FType.class
/Funct.class
/IntBoolOps.class
/IntSet.class
/Lang.class
/Lit.class
/MinMax.class
/Not.class
/PType.class
/Pred.class
/Quant.class
/SetExp.class
/Sum.class
/The.class
/Type.class
/Var.class
